@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-syne: 'Syne', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --font-open: 'Open_Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

.font-rubik {
  font-family: var(--font-rubik);
}

.font-syne {
  font-family: var(--font-syne);
}
.font-open {
  font-family: var(--font-open);
}
.font-inter {
  font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161D21;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
